<div id="counts_container" class="form-stacked">
  <h4>Clients Count</h4>
  <ul id="counts">
    <li><span class="label label-success">{{clients.models.length}} total</span></li>
  </ul>
</div>

<input id="clients_filter" type="text" />

<div class="btn-group">
  <a id="toggle-checkboxes" class="btn btn-success" href="#clients">
    <i class="icon-check icon-white" />
  </a>
  <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret" />
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Select</li>
    <li><a id="select-all" href="#clients"><i class="icon-check" /> All</a></li>
    <li><a id="select-none" href="#clients"><i class="icon-ban-circle" /> None</a></li>
    <li><a id="select-silenced" href="#clients"><i class="icon-volume-off" /> Silenced</a></li>
    <li><a id="select-unsilenced" href="#clients"><i class="icon-volume-up" /> Unsilenced</a></li>
    <li class="divider" />
    <li class="dropdown-header">Actions</li>
    <li><a id="silence-selected-clients" href="#clients"><i class="icon-volume-off" /> Silence Clients</a></li>
    <li><a id="unsilence-selected-clients" href="#clients"><i class="icon-volume-up" /> Unsilence Clients</a></li>
  </ul>
</div>

<div id="clients_container"></div>
