<table id="generic" class="table table-bordered sensu-table">
  <thead>
    <tr>
      <th></th>
      <th class="col_client_id">Client</th>
      <th class="col_public_ip">Public IP</th>
      <th class="col_timestamp">Timestamp</th>
      <th class="col_subscriptions">Subscriptions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
