<div id="counts_container" class="form-stacked">
  <h4>Stashes Count</h4>
  <ul id="counts">
    <li><span class="label label-success">{{stashes.models.length}} total</span></li>
  </ul>
</div>

<div id="filter"></div>

<div class="btn-group">
  <a id="toggle-checkboxes" class="btn btn-success" href="#stashes">
    <i class="icon-check icon-white" />
  </a>
  <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret" />
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Select</li>
    <li><a id="select-all" href="#stashes"><i class="icon-check" /> All</a></li>
    <li><a id="select-none" href="#stashes"><i class="icon-ban-circle" /> None</a></li>
    <li class="divider" />
    <li class="dropdown-header">Actions</li>
    <li><a id="remove-selected" href="#stashes"><i class="icon-remove" /> Remove</a></li>
  </ul>
</div>

<div id="stashes_container"></div>
