<table id="generic" class="table table-bordered sensu-table">
  <thead>
    <tr>
      <th></th>
      <th class="col_path">Path</th>
      <th class="col_keys">Keys</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
