<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  {{#if title}}
    <h4 id="modal_label">
      <span>{{title}}</span><br />
      {{#if subtitle}}<small>{{subtitle}}</small>{{/if}}
    </h4>
  {{/if}}
</div>
<div class="modal-body">
  {{#if body}}
    <p>{{body}}</p>
  {{/if}}
</div>
<div class="modal-footer">
  <a href="#" class="btn">Close</a>
</div>
