<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<head id="monitoring-sa2s-us" data-template-set="html5-reset">

	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Sonian Monitoring Dashboard</title>

	<meta name="author" content="Justin Kolberg">
	<meta name="Copyright" content="Copyright Sonian, Inc. 2011. All Rights Reserved.">

	<!--  Mobile Viewport Fix
	j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
	-->
	<!-- Uncomment to use; use thoughtfully!
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	-->

	<!--<link rel="shortcut icon" href="img/favicon.ico">-->
	<!-- This is the traditional favicon.
		 - size: 16x16 or 32x32
		 - transparency is OK
		 - see wikipedia for info on browser support: http://mky.be/favicon/ -->

	<!--<link rel="apple-touch-icon" href="img/apple-touch-icon.png">-->
	<!-- The is the icon for iOS's Web Clip.
		 - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->

	<!-- CSS: screen, mobile & print are all in the same file -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/sonian.css">

	<!-- all our JS is at the bottom of the page, except for Modernizr. -->
	<script src="js/modernizr-1.7.min.js"></script>

</head>

<body>

<div class="wrapper"><!-- not needed? up to you: http://camendesign.com/code/developpeurs_sans_frontieres -->

	<header>

		<h1><a href="/">Sonian Monitoring Dashboard</a></h1>

		<nav>

			<ol>
				<li><a href="">Clients</a></li>
				<li><a href="">Current Alerts</a></li>
			</ol>

		</nav>

		<div style="clear: both;"></div>

	</header>

	<section id="main_content">

		<h1>Current Alerts <span class="alerts_count">(5)</span></h1>

		<table id="alerts">

			<thead>

				<tr><td>Client</td><td>Check</td><td>Status</td><td>Output</td></tr>

			</thead>

			<tbody></tbody>

		</table>

	</section>

	<footer>

		<p><small>&copy; Copyright <a href="http://www.sonian.com">Sonian, Inc.</a> 2011. All Rights Reserved.</small></p>

	</footer>

        <div id="event_detail_modals"></div>

</div>

<!-- here comes the javascript -->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='js/jquery-1.5.1.min.js'>\x3C/script>")</script>

<!-- jQuery templates -->
<script src="js/jquery.tmpl.min.js"></script>

<!-- jQuery lean modal -->
<script src="js/jquery.leanModal.min.js"></script>

<!-- jQuery zclip (clipboard support) -->
<script type="text/javascript" src="js/jquery.zclip.min.js"></script>

<!-- this is where we put our custom functions -->
<script src="js/functions.js"></script>

<!-- Critical Event template -->
<script id="critEventTemplate" type="text/x-jquery-tmpl">
  <tr class="critical" id="${client}_${check}" rel="leanModal" href="#${client}_${check}_modal">
    <td>${client}</td><td>${check}</td><td>${status}</td><td>${output}</td>
  </tr>
</script>

<!-- Warning Event template -->
<script id="warnEventTemplate" type="text/x-jquery-tmpl">
  <tr class="warning" id="${client}_${check}" rel="leanModal" href="#${client}_${check}_modal">
    <td>${client}</td><td>${check}</td><td>${status}</td><td>${output}</td>
  </tr>
</script>

<!-- Event Details template  -->
<script id="eventDetailsTemplate" type="text/x-jquery-tmpl">
  <div id="${client}_${check}_modal" class="alert_details_modal">

    <div class="alert_detail_group">
      <div class="alert_detail">
        <h1>Client name</h1>
        <p>${client}</p>
      </div>
      <div class="copy">Copy</div>
      <div style="clear: both;"></div>
    </div>

    <div class="alert_detail_group">
      <div class="alert_detail">
        <h1>Check</h1>
        <p>${check}</p>
      </div>
      <div class="copy">Copy</div>
      <div style="clear: both;"></div>
    </div>

    <div class="alert_detail_group">
      <div class="alert_detail">
        <h1>Status</h1>
        <p>${status}</p>
      </div>
      <div class="copy">Copy</div>
      <div style="clear: both;"></div>
    </div>

    <div class="alert_detail_group">
      <div class="alert_detail">
        <h1>Output</h1>
        <p>${output}</p>
      </div>
      <div class="copy">Copy</div>
      <div style="clear: both;"></div>
    </div>

    <div class="alert_detail_group">
      <div class="alert_detail">
        <h1>Environment</h1>
        <p>${environment}</p>
      </div>
      <div class="copy">Copy</div>
      <div style="clear: both;"></div>
    </div>

    <div class="alert_detail_group">
      <div class="alert_detail">
        <h1>Hostname</h1>
        <p>ip_10-20-10-20</p>
      </div>
      <div class="copy">Copy</div>
      <div style="clear: both;"></div>
    </div>

    <div class="alert_detail_group">
      <div class="alert_detail">
        <h1>Public IP</h1>
        <p>${address}</p>
      </div>
      <div class="copy">Copy</div>
      <div style="clear: both;"></div>
    </div>

    <div class="alert_detail_group">
      <div class="alert_detail">
        <h1>Roles</h1>
        <ul>
          {{each roles}}
          <li>${$value}</li>
          {{/each}}
        </ul>
      </div>
      <div class="copy">Copy</div>
      <div style="clear: both;"></div>
    </div>

  </div>
</script>

</body>
</html>
