td.select_col
  input(type='checkbox' name='<%= name %>')
td.name_col(data-controls-modal="client_modal") <%= name %>
td.address_col(data-controls-modal="client_modal") <%= address %>
td.timestamp_col(data-controls-modal="client_modal") <%= timestamp %>
td.subscriptions_col(data-controls-modal="client_modal") <%= subscriptions %>
