td.select_col
  input(type='checkbox' name='<%= client %>')
td.client_col(data-controls-modal="event_modal") <%= client %>
td.check_col(data-controls-modal="event_modal") <%= check %>
td.output_col(data-controls-modal="event_modal") <%= output %>
