<div id="counts_container" class="form-stacked">
  <h4>Events Count</h4>
  <ul>
    <li><span class="label label-success">{{total}} total</span></li>
    <li><span class="label label-important">{{critical}} critical</span></li>
    <li><span class="label label-warning">{{unknown}} unknown</span></li>
    <li><span class="label label-unknown">{{warning}} warning</span></li>
  </ul>
</div>
