<div id="counts"></div>

<div id="filter_unknown_container">
  <input id="filter_unknown" type="checkbox" checked="checked" />
  <strong>Filter Unknown Checks</strong>
</div>

<input id="events_filter" type="text" />

<div class="btn-group">
  <a id="toggle-checkboxes" class="btn btn-success" href="#events">
    <i class="icon-check icon-white" />
  </a>
  <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret" />
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Select</li>
    <li><a id="select-all" href="#events"><i class="icon-check" /> All</a></li>
    <li><a id="select-none" href="#events"><i class="icon-ban-circle" /> None</a></li>
    <li><a id="select-critical" href="#events"><i class="icon-fire" /> Critical</a></li>
    <li><a id="select-unknown" href="#events"><i class="icon-question-sign" /> Unknown</a></li>
    <li><a id="select-warning" href="#events"><i class="icon-warning-sign" /> Warning</a></li>
    <li><a id="select-silenced-clients" href="#events"><i class="icon-volume-off" /> Silenced Clients</a></li>
    <li><a id="select-silenced-checks" href="#events"><i class="icon-volume-off" /> Silenced Checks</a></li>
    <li><a id="select-unsilenced-clients" href="#events"><i class="icon-volume-up" /> Unsilenced Clients</a></li>
    <li><a id="select-unsilenced-checks" href="#events"><i class="icon-volume-up" /> Unsilenced Checks</a></li>
    <li class="divider" />
    <li class="dropdown-header">Actions</li>
    <li><a id="resolve-selected" href="#events"><i class="icon-ok-sign" /> Resolve</a></li>
    <li><a id="silence-selected-clients" href="#events"><i class="icon-volume-off" /> Silence Clients</a></li>
    <li><a id="silence-selected-checks" href="#events"><i class="icon-volume-off" /> Silence Checks</a></li>
    <li><a id="unsilence-selected-clients" href="#events"><i class="icon-volume-up" /> Unsilence Clients</a></li>
    <li><a id="unsilence-selected-checks" href="#events"><i class="icon-volume-up" /> Unsilence Checks</a></li>
  </ul>
</div>

<div id="list"></div>
