<tr class="{{status_name}}">
  <td class="select"><input type="checkbox" /></td>
  <td class="client" data-controls-modal="event_modal">{{client}}</td>
  <td class="check" data-controls-modal="event_modal">{{check}}</td>
  <td class="output" data-controls-modal="event_modal">{{output}}</td>
</tr>
