<div id="counts_container" class="form-stacked">
  <h4>Checks Count</h4>
  <ul id="counts">
    <li><span class="label label-success">{{checks.models.length}} total</span></li>
  </ul>
</div>

<div id="filter"></div>

<div class="btn-group">
  <a id="toggle-checkboxes" class="btn btn-success" href="#checks">
    <i class="icon-check icon-white" />
  </a>
  <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret" />
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Select</li>
    <li><a id="select-all" href="#checks"><i class="icon-check" /> All</a></li>
    <li><a id="select-none" href="#checks"><i class="icon-ban-circle" /> None</a></li>
    <li class="divider" />
    <li class="dropdown-header">Actions</li>
    <li><a id="request-selected-checks" href="#checks"><i class="icon-volume-off" /> Run Checks</a></li>
  </ul>
</div>

<div id="checks_container"></div>
