<div id="counts_container" class="form-stacked">
  <h4>Checks Count</h4>
  <ul id="counts">
    <li><span class="label label-success">{{checks.models.length}} total</span></li>
  </ul>
</div>

<input id="checks_filter" type="text" />

<div id="checks_container"></div>
