<table id="generic" class="table table-bordered sensu-table">
  <thead>
    <tr>
      <th class="col_check_id">Check</th>
      <th class="col_command">Command</th>
      <th class="col_interval">Interval</th>
      <th class="col_subscribers">Subscribers</th>
      <th class="col_standalone">Standalone</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
