<h1>Current Clients <span class="clients_count">(<span id="client_count">0</span>)</span></h1>

<table id="clients">

    <thead>

      <tr>
        <td class="col_clients">Client</td>
        <td class="col_checks">Public IP</td>
        <td class="col_status">Timestamp</td>
        <td class="col_output">Environment</td>
        <td class="col_output">Subscriptions</td>
      </tr>

    </thead>

    <tbody></tbody>

</table>

<div id="event_details_modal" class="alert_details_modal">
  <h1 class="section_title">Client Data</h1>
  <div id="client_data"></div>
</div>
