<!-- Client template -->
<script id="clientTemplate" type="text/x-jquery-tmpl">
  <tr id="${name}" rel="leanModal" href="#event_details_modal">
    <td id="client_id">${name}</td><td>${address}</td><td>${timestamp}</td><td>${environment}</td><td>${subscriptions}</td>
  </tr>
</script>

<!-- Client details row template  -->
<script id="clientDetailsRowTemplate" type="text/x-jquery-tmpl">
{{each $data}}
<div class="alert_detail_group">
  <div class="alert_detail">
    <h1>${capitaliseFirstLetter($index)}</h1>
    <p>${$value}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
{{/each}}
</script>

<script type="text/javascript">
fetchClients();

ws = new WebSocket("ws://" + location.hostname + ":9000");
ws.onmessage = function(evt) {
  fetchClients();
}
</script>
