<h1>Current Clients <span class="clients_count">(<span id="client_count">0</span>)</span></h1>

<input type="text" id="autosuggest_filter" style="width: 300px;"/>

<table id="clients">
  <thead>
    <tr>
      <th class="col_clients">Client</th>
      <th class="col_public_ip">Public IP</th>
      <th class="col_timestamp">Timestamp</th>
      <th class="col_output">Subscriptions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div id="event_details_modal" class="event_details_modal">
  <h1 class="section_title">Actions</h1>
  <div id="event_actions">
    <div class="event_detail_group">
      <div class="event_detail">
        <div id="remove_client" class="action_btn" style="margin-right: 7px;">
          <img src="/img/cross.png" style="vertical-align: middle; padding-right: 7px;"/><strong>Remove</strong>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  <h1 class="section_title">Client Data</h1>
  <div id="client_data"></div>
</div>
