<!-- Event template -->
<script id="eventTemplate" type="text/x-jquery-tmpl">
  {{if is_unknown}}
  <tr class="status3" id="${identifier}" rel="leanModal" href="#event_details_modal">
  {{else}}
  <tr class="status${status}" id="${identifier}" rel="leanModal" href="#event_details_modal">
  {{/if}}
    <td id="client">${client}</td><td id="check">${check}</td><td id="status">${status}</td><td id="output">${output}</td>
  </tr>
</script>

<!-- Event details row template  -->
<script id="eventDetailsRowTemplate" type="text/x-jquery-tmpl">
<div class="event_detail_group">
  <div class="event_detail">
    <h1>Client</h1>
    <p id="client_id_value">${client}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
<div class="event_detail_group">
  <div class="event_detail">
    <h1>Check</h1>
    <p id="check_name_value">${check}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
<div class="event_detail_group">
  <div class="event_detail">
    <h1>Status</h1>
    <p>${status}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
<div class="event_detail_group">
  <div class="event_detail">
    <h1>Output</h1>
    <p>${output}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
<div class="event_detail_group">
  <div class="event_detail">
    <h1>Occurrences</h1>
    <p>${occurrences}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
</script>

<!-- Client details row template  -->
<script id="clientDetailsRowTemplate" type="text/x-jquery-tmpl">
{{each $data}}
<div class="event_detail_group">
  <div class="event_detail">
    <h1>${capitaliseFirstLetter($index)}</h1>
    <p>${$value}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
{{/each}}
</script>

<script type="text/javascript">
fetchEvents();

ws = new WebSocket("ws://" + location.hostname + ":9000");
ws.onmessage = function(evt) {
  fetchEvents();
}

$("#disable_client_alerts").click(function() {
  var client_id = $("#client_id_value").html();
  var alert_img = $("#disable_client_alerts").children().first();

  if(alert_img.attr("src") == "/img/megaphone_icon_off.png") {
    alert_img.attr("src", "/img/loading_circle.gif");
    $.ajax({
      type: 'DELETE',
      contentType: 'application/json',
      url: '/stash/silence/'+client_id+'.json',
      success: function(data, textStatus, xhr) {
        alert_img.attr("src", "/img/megaphone_icon.png");
      },
      error: function(xhr, textStatus, errorThrown) {
        if(xhr.status == 404) {
          alert_img.attr("src", "/img/megaphone_icon_off.png");
        }
      },
      dataType: 'json'
    });
  } else if(alert_img.attr("src") == "/img/megaphone_icon.png") {
    alert_img.attr("src", "/img/loading_circle.gif");
    $.ajax({
      type: 'POST',
      contentType: 'application/json',
      url: '/stash/silence/'+client_id+'.json',
      success: function(data, textStatus, xhr) {
        alert_img.attr("src", "/img/megaphone_icon_off.png");
      },
      error: function(xhr, textStatus, errorThrown) {
      },
      dataType: 'json'
    });
  }
});

$("#disable_client_check_alerts").click(function() {
  var client_id = $("#client_id_value").html();
  var check_name = $("#check_name_value").html();
  var alert_img = $("#disable_client_check_alerts").children().first();

  if(alert_img.attr("src") == "/img/megaphone_icon_off.png") {
    alert_img.attr("src", "/img/loading_circle.gif");
    $.ajax({
      type: 'DELETE',
      contentType: 'application/json',
      url: '/stash/silence/'+client_id+'/'+check_name+'.json',
      success: function(data, textStatus, xhr) {
        alert_img.attr("src", "/img/megaphone_icon.png");
      },
      error: function(xhr, textStatus, errorThrown) {
        if(xhr.status == 404) {
          alert_img.attr("src", "/img/megaphone_icon_off.png");
        }
      },
      dataType: 'json'
    });
  } else if(alert_img.attr("src") == "/img/megaphone_icon.png") {
    alert_img.attr("src", "/img/loading_circle.gif");
    $.ajax({
      type: 'POST',
      contentType: 'application/json',
      url: '/stash/silence/'+client_id+'/'+check_name+'.json',
      success: function(data, textStatus, xhr) {
        alert_img.attr("src", "/img/megaphone_icon_off.png");
      },
      error: function(xhr, textStatus, errorThrown) {
      },
      dataType: 'json'
    });
  }
});
$("#resolve_event").click(function() {
  var client = $("#client_id_value").html();
  var check = $("#check_name_value").html();
  $.ajax({
    type: 'POST',
    contentType: 'application/json',
    url: '/event/resolve.json',
    data: JSON.stringify({"client":client, "check":check}),
    success: function(data, textStatus, xhr) {
      $("#lean_overlay").fadeOut(200);
      $("#event_details_modal").css({'display':'none'});
      fetchEvents();
    },
    error: function(xhr, textStatus, errorThrown) {
      alert('Failed to resolve event');
    }
  });
});
</script>