<!-- Event template -->
<script id="eventTemplate" type="text/x-jquery-tmpl">
  <tr class="status${status}" id="${client}${check}" rel="leanModal" href="#event_details_modal">
    <td>${client}</td><td>${check}</td><td>${status}</td><td>${output}</td>
  </tr>
</script>

<!-- Event details row template  -->
<script id="eventDetailsRowTemplate" type="text/x-jquery-tmpl">
<div class="alert_detail_group">
  <div class="alert_detail">
    <h1>Client</h1>
    <p>${client}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
<div class="alert_detail_group">
  <div class="alert_detail">
    <h1>Check</h1>
    <p>${check}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
<div class="alert_detail_group">
  <div class="alert_detail">
    <h1>Status</h1>
    <p>${status}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
<div class="alert_detail_group">
  <div class="alert_detail">
    <h1>Output</h1>
    <p>${output}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
</script>

<!-- Client details row template  -->
<script id="clientDetailsRowTemplate" type="text/x-jquery-tmpl">
{{each $data}}
<div class="alert_detail_group">
  <div class="alert_detail">
    <h1>${capitaliseFirstLetter($index)}</h1>
    <p>${$value}</p>
  </div>
  <!--<div class="copy">Copy</div>-->
  <div style="clear: both;"></div>
</div>
{{/each}}
</script>

<script type="text/javascript">
fetchAlerts();

ws = new WebSocket("ws://" + location.hostname + ":9000");
ws.onmessage = function(evt) {
  fetchAlerts();
}
</script>
