<h1>Current Events <span class="events_count">(<span id="event_count">0</span>)</span></h1>

<div style="padding-bottom: 7px;">
<input type="checkbox" checked="checked" id="filter_unknown_checks" style="margin-right: 7px;"/>Filter Unknown Checks
</div>

<input type="text" id="autosuggest_client_filter" style="width: 300px;"/>

<table id="events">

    <thead>

      <tr>
        <th class="col_clients">Client</th>
        <th class="col_checks">Check</th>
        <th class="col_output">Output</th>
        <th class="col_status" style="display: none;">Status</th>
      </tr>

    </thead>

    <tbody></tbody>

</table>

<div id="event_details_modal" class="event_details_modal">
  <h1 class="section_title">Actions</h1>
  <div id="event_actions">
    <div class="event_detail_group">
      <div class="event_detail">
        <div id="disable_client_alerts" class="action_btn" style="margin-right: 7px;">
          <img src="/img/loading_circle.gif" style="vertical-align: middle; padding-right: 7px;"/><strong>Silence Client</strong>
        </div>
        <div id="disable_client_check_alerts" class="action_btn" style="margin-right: 7px;">
          <img src="/img/loading_circle.gif" style="vertical-align: middle; padding-right: 7px;"/><strong>Silence Check</strong>
        </div>
        <div id="resolve_event" class="action_btn" style="margin-right: 7px;">
          <img src="/img/cross.png" style="vertical-align: middle; padding-right: 7px;"/><strong>Resolve</strong>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  <h1 class="section_title">Event Data</h1>
  <div id="event_data"></div>
  <h1 class="section_title">Client Data</h1>
  <div id="client_data"></div>
</div>
