<h1>Current Events <span class="alerts_count">(<span id="alert_count">0</span>)</span></h1>

<table id="alerts">

    <thead>

      <tr>
        <td class="col_clients">Client</td>
        <td class="col_checks">Check</td>
        <td class="col_status">Status</td>
        <td class="col_output">Output</td>
      </tr>

    </thead>

    <tbody></tbody>

</table>

<div id="event_details_modal" class="alert_details_modal">
  <h1 class="section_title">Actions</h1>
  <div id="event_actions">
    <div class="alert_detail_group">
      <div class="alert_detail">
        <div id="disable_client_alerts" class="action_btn" style="margin-right: 7px;">
          <img src="/img/loading_circle.gif" style="vertical-align: middle; padding-right: 7px;"/><strong>Client</strong>
        </div>
        <div id="disable_client_check_alerts" class="action_btn" style="margin-right: 7px;">
          <img src="/img/loading_circle.gif" style="vertical-align: middle; padding-right: 7px;"/><strong>Check</strong>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  <h1 class="section_title">Event Data</h1>
  <div id="event_data"></div>
  <h1 class="section_title">Client Data</h1>
  <div id="client_data"></div>
</div>
