<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<head id="www-sitename-com" data-template-set="html5-reset">

	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Sensu Dashboard</title>

	<meta name="author" content="Justin Kolberg">
	<meta name="Copyright" content="Copyright Sonian, Inc. 2011. MIT License.">

	<!--  Mobile Viewport Fix
	j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
	-->
	<!-- Uncomment to use; use thoughtfully!
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	-->

	<!--<link rel="shortcut icon" href="img/favicon.ico">-->
	<!-- This is the traditional favicon.
		 - size: 16x16 or 32x32
		 - transparency is OK
		 - see wikipedia for info on browser support: http://mky.be/favicon/ -->

	<!--<link rel="apple-touch-icon" href="img/apple-touch-icon.png">-->
	<!-- The is the icon for iOS's Web Clip.
		 - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->

	<!-- CSS: screen, mobile & print are all in the same file -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/sonian.css">
        <link rel="stylesheet" href="css/autoSuggest.css">

        <!-- Favicon: Set the sensu fan image from github as the favicon -->
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	<!-- all our JS is at the bottom of the page, except for Modernizr. -->
	<script src="js/modernizr-1.7.min.js"></script>

  <% if $settings.dashboard.autorefresh %>
  <!-- page autorefresh -->
  <meta http-equiv="refresh" content="<%= $settings.dashboard.autorefresh %>">
  <% end %>
</head>

<body>

<div class="wrapper"><!-- not needed? up to you: http://camendesign.com/code/developpeurs_sans_frontieres -->

	<header>

		<h1><a href="/">Sensu Dashboard</a></h1>

		<nav>

			<ol>
				<li><a href="/clients">Clients</a></li>
                                <li><a href="/stashes">Stashes</a></li>
				<li><a href="/">Current Events</a></li>
			</ol>

		</nav>

		<div style="clear: both;"></div>

	</header>

	<section id="main_content">

                <%= yield %>

	</section>

	<footer>

		<p><small>&copy;
                Copyright <a href="http://www.sonian.com">Sonian, Inc.</a> 2011.
                <a href="https://github.com/sonian/sensu-dashboard/blob/master/MIT-LICENSE.txt">License (MIT)</a>
                </small></p>

	</footer>

</div>

<!-- here comes the javascript -->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='js/jquery-1.5.1.min.js'>\x3C/script>")</script>

<!-- Javascript SHA1 -->
<script src="js/webtoolkit.sha1.js"></script>

<!-- jQuery templates -->
<script src="js/jquery.tmpl.min.js"></script>

<!-- jQuery lean modal -->
<script src="js/jquery.leanModal.min.js"></script>

<!-- jQuery zclip (clipboard support) -->
<script type="text/javascript" src="js/jquery.zclip.min.js"></script>

<!-- this is where we put our custom functions -->
<script src="js/functions.js"></script>

<!-- jQuery sort elements -->
<script src="js/jquery.sortElements.js"></script>

<!-- jQuery auto suggest -->
<script src="js/jquery.autoSuggest.js"></script>

<!-- include other js -->
<%= @js %>

</body>
</html>
