<!-- Stash template -->
<script id="stashTemplate" type="text/x-jquery-tmpl">
  <tr id="${name}" rel="leanModal" href="#event_details_modal">
    <td>${name}</td><td>${keys}</td>
  </tr>
</script>

<!-- Stash details row template -->
<script id="stashDetailsTemplate" type="text/x-jquery-tmpl">
  <h1 class="section_title">Actions</h1>
  <div id="event_actions">
    <div class="event_detail_group">
      <div class="event_detail">
        <div id="delete_stash" class="action_btn" style="margin-right: 7px;">
          <img src="/img/cross.png" style="vertical-align: middle; padding-right: 7px;"/><strong>Delete Stash</strong>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  <h1 class="section_title">Stash Information</h1>
  <div class="event_detail_group">
    <h1>Path</h1>
    <p>${name}</p>
  </div>
  <div style="clear: both;"></div>
  <h1 class="section_title">Stash Data</h1>
  {{each values}}
  <div class="event_detail_group">
    <h1>${$value['name']}</h1>
    <p>${$value['value']}</p>
  </div>
  {{/each}}
  <div style="clear: both;"></div>
</script>

<script type="text/javascript">
fetchStashes();

ws = new WebSocket("ws://" + location.hostname + ":9000");
ws.onmessage = function(evt) {
  fetchStashes();
}
</script>
