<h1>Stashes</h1>

<table id="events">

    <thead>

      <tr>
        <td class="col_clients">Path</td>
        <td class="col_checks">Keys</td>
      </tr>

    </thead>

    <tbody></tbody>

</table>

<div id="event_details_modal" class="event_details_modal">
  <h1 class="section_title">Actions</h1>
  <div id="event_actions">
    <div class="event_detail_group">
      <div class="event_detail">
        <div id="delete_stash" class="action_btn" style="margin-right: 7px;">
          <img src="/img/cross.png" style="vertical-align: middle; padding-right: 7px;"/><strong>Delete Stash</strong>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  <h1 class="section_title">Stash Data</h1>
  <div id="stash_data"></div>
</div>